:root {
  --text-0: #ffffff;
  --text-10: #dddddd;
  --text-20: #bbbbbb;

  --primary-0: #f08424;
  --primary-10: #f59240;
  --primary-20: #f99f58;
  --primary-30: #fcad70;
  --primary-40: #ffbb87;
  --primary-50: #ffc89f;
  
  --background-0: #121212;
  --background-10: #282828;
  --background-20: #3f3f3f;
  --background-30: #575757;
  --background-40: #717171;
  --background-50: #8b8b8b;
}

* {
  transition: all 200ms ease-out;
  transition-property: color, background-color, border-color, font-decoration-color, text;
}
